@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

body {
    margin: 0;
    font-family: "Roboto";
}

/* NAV BAR LISTE */
a {
    text-decoration: none;
    color: black;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    background-color: white;
}

li {
    margin-left: 20px;
    font-weight: 600;
    padding-right: 15px;
    padding-top: 5px;
}

li:not(:last-child) {
    border-right: solid 1px black;
}

/* NAV BAR IMG + TITRE */
.banner {
    width: 100%;
    height: 400px;
    background-image: url("/assets/img/new-world-amazon-jeu.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner img {
    width: 15%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h1 {
    text-transform: uppercase;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
}


/* SECTION 1 */
h2 {
   text-transform: uppercase;
   text-align: center;
   margin-top: 3%;
   margin-bottom: 2%;
}

.contenu p {
    width: 55%;
    margin-left: 50%;
    transform: translateX(-50%);
    align-items: center;
    text-align: center;
    margin-bottom: 0;
}

.btn1 {
    border: solid 1p orange;
    background-color: orange;
    color: white;
    border-radius: 2px;
    padding: 8px 13px;
    display: inline-block;
    text-align: center;
    width: 8%;
    margin: 2% auto 5% 50%;
    transform: translateX(-50%);
}

.btn1:hover {
    border: solid 1p white;
    background-color: white;
    color: orange;
    border-radius: 2px;
    padding: 8px 13px;
    display: inline-block;
    text-align: center;
    width: 8%;
    margin: 2% auto 5% 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}


/* SECTION 2 */

.container {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 65%;
    margin-bottom: 5%;
}

.box {
    width: 30%;
    margin-right: 3%;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 2%;
}

.box img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

.bgc {
    background-color: rgb(39, 39, 39);
    color: white;
}

.bgc h4, .bgc p {
    padding-right: 1rem;
    padding-left: 1rem;
}

.bgc p {
    padding-bottom: 25%;
}




/* FOOTER */
footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img {
    width: 4%;
    padding: 1% 0;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex li a {
    color: white;
    list-style: none;
    font-weight: 400;
    font-size: 0.8rem;
    align-content: center;
}

.flex li:not(:last-child) {
    border-right: solid 1px white;
}

nav {
    margin-top: 10px;
}